<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<iframe src="https://determined-davinci-c1ec3f.netlify.app/" width="1000" height="800"></iframe>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
